@tailwind components;

@layer components {

    $headline-color: #FFFFFF;
    $headline-shadow: 0.5;

    .intro-headline {
        @apply container;
        @apply center;
        @apply pointer-events-none;
        @apply select-none;

        @media (orientation: landscape) {
            @apply top-1/2;
            @apply text-left;
        }

        @media (orientation: portrait) {
            @apply top-[30%];
            @apply text-center;
        }
    
        @media (min-width: 0px) {
            @apply px-4;
        }

        @screen xs {
            @apply px-8;
        }

        @mixin intro-headline-text {
            @apply w-full;
            @apply mb-4;
            @apply text-[3.5rem];
            @apply xs:text-[4rem];
            @apply md:text-[5rem];
            @apply xl:text-[6rem];
            @apply leading-[3.5rem];
            @apply xs:leading-[4rem];
            @apply md:leading-[5rem];
            @apply xl:leading-[6rem];
            @apply font-bold;
            @apply uppercase;
            @apply tracking-wide;
        }
    
        &-text {
            @include intro-headline-text;
    
            &-full {
                color: $headline-color;
            }
        
            &-outline {
                @apply text-transparent;
        
                -webkit-text-stroke: 1px $headline-color;
            }
        
            &-shadow {
                color: $headline-color;
                filter: drop-shadow(0px 1px 4px $headline-color);
            }
        }

        &-subline {
            @apply w-full;
            @apply text-base;
            @apply md:text-lg;
            @apply font-normal;
            @apply overflow-hidden;
            @apply pointer-events-none;
            @apply select-none;

            color: $headline-color;
            
            &-hidden {
                @apply opacity-0;
            }
        }
    }
}