@import "@/styles/scss/variables.module";

#explosion-center {
    $explosion-default-size: 450px;
    
    @media (min-width: 0px) {
        width: calc($explosion-default-size * $scale-ratio-xs);
    }

    @screen sm {
        width: calc($explosion-default-size * $scale-ratio-sm);
    }

    @screen md {
        width: calc($explosion-default-size * $scale-ratio-md);
    }

    @screen lg {
        width: calc($explosion-default-size * $scale-ratio-lg);
    }

    @screen xl {
        width: calc($explosion-default-size * $scale-ratio-xl);
    }

    @screen 2xl {
        width: calc($explosion-default-size * $scale-ratio-2xl);
    }
}

#explosion-corner {
    $explosion-default-size: 150px;

    @media (min-width: 0px) {
        width: calc($explosion-default-size * $scale-ratio-xs);
    }

    @screen sm {
        width: calc($explosion-default-size * $scale-ratio-sm);
    }

    @screen md {
        width: calc($explosion-default-size * $scale-ratio-md);
    }

    @screen lg {
        width: calc($explosion-default-size * $scale-ratio-lg);
    }

    @screen xl {
        width: calc($explosion-default-size * $scale-ratio-xl);
    }

    @screen 2xl {
        width: calc($explosion-default-size * $scale-ratio-2xl);
    }
}