@tailwind components;

@import "@/styles/scss/variables.module";

@layer components {
    .glitch-text {
        @apply relative;
        @apply inline-block;

        @mixin glitch-copy {
            @apply content-[attr(data-text)];
            @apply absolute;
            @apply w-full;
            @apply h-full;
        }
        
        &::before{
            @include glitch-copy;
            
            @apply left-[-2px];
            @apply animate-[glitch-animation-before_15s_linear_infinite];
            
            filter: drop-shadow(-2px 0px 0px #4248F0);
        }

        &::after {
            @include glitch-copy;

            @apply left-[1px];
            @apply animate-[glitch-animation-after_15s_linear_infinite];

            filter: drop-shadow(2px 2px #4248F0) drop-shadow(-5px 0px #C1292E);
        }
    }

    @keyframes glitch-animation-before {
        @for $i from 0 through 15 {
            #{percentage($i * (1/100))} {
                $top: #{random(100) + '%'};
                $bottom: #{random(100) + '%'};

                @apply visible;

                clip-path: polygon(0% $top, 100% $top, 100% $bottom, 0% $bottom);
                transform: skew((random(100) / 100) + deg);
            }
        }
        15%, 100% {
            @apply invisible;
        }
    }

    @keyframes glitch-animation-after {
        @for $i from 0 through 30 {
            #{percentage($i * (1/200))} {
                $top: #{random(100) + '%'};
                $bottom: #{random(100) + '%'};

                @apply visible;

                clip-path: polygon(0% $top, 100% $top, 100% $bottom, 0% $bottom);
                transform: skew((random(100) / 100) + deg);
            }
        }
        15%, 100% {
            @apply invisible;
        }
    }
}