.row {
    @apply mx-[-1rem];
    @apply sm:mx-[-2rem];
}

.full {
    @apply relative;
    @apply w-full;
    @apply h-full;
}

.page {
    @apply relative;
    @apply w-full;
    @apply h-screen;
}

.overlap {
    @apply absolute;
    @apply top-0;
}

.center-h {
    @apply absolute;
    @apply left-1/2;
    @apply -translate-x-1/2;
}

.center-v {
    @apply absolute;
    @apply top-1/2;
    @apply -translate-y-1/2;
}

.center {
    @apply center-h;
    @apply center-v;
}

.text-stroke-sm {
    -webkit-text-stroke: 0.5px theme('colors.white');
}

.text-stroke-md {
    -webkit-text-stroke: 1px theme('colors.white');
}

.text-stroke-lg {
    -webkit-text-stroke: 2px theme('colors.white');
}

.spaced {
    &:not(:last-child) {
        @apply me-2;
    }
}