$off-white: theme('colors.off-white');
$yellow: theme('colors.yellow.500');
$orange-light: theme('colors.orange-light.500');
$orange-dark: theme('colors.orange-dark.500');
$red: theme('colors.red.500');
$purple: theme('colors.purple.500');
$blue-dark: theme('colors.blue-dark.500');
$blue-light: theme('colors.blue-light.500');

$scale-ratio-2xl: 4;
$scale-ratio-xl: 3.5;
$scale-ratio-lg: 3;
$scale-ratio-md: 2.5;
$scale-ratio-sm: 2;
$scale-ratio-xs: 1.75;

:export {
    offWhite: $off-white;
    yellow: $yellow;
    orangeLight: $orange-light;
    orangeDark: $orange-dark;
    red: $red;
    purple: $purple;
    blueDark: $blue-dark;
    blueLight: $blue-light;

    scaleRatio2XL: $scale-ratio-2xl;
    scaleRatioXL: $scale-ratio-xl;
    scaleRatioLG: $scale-ratio-lg;
    scaleRatioMD: $scale-ratio-md;
    scaleRatioSM: $scale-ratio-sm;
    scaleRatioXS: $scale-ratio-xs;
}